*.pyc
# exclude everything
input/*
out/*
images/*
# exception to the rule
!input/.keep
!out/.keep
for_system
*.pth
*.caffemodel
_py_cache_
.idea
venv
.jpg
.vscode
*.log
face.db


# pyinstaller
build/
dist/